@model IEnumerable<Degoo.Models.Link>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Any())
{
    <h1><strong>No results found</strong></h1>
}
else
{

    <div>
        <br />
        @using (@Html.BeginForm("Search", "Link"))
        {
            <input type="text" name="keyword" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            @*@Html.TextBox("keyword");*@
            <input type="submit" value="Search" />
        }

    </div>
    <br />
    <table class="table align-middle">
        <thead>
            <tr>
                <th><strong>Websites</strong></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var link in Model)
            {
                <tr>
                    <td><a class="url-table" href="https://www.@link.Url" style="text-decoration:none">@link.Url</a></td>

                </tr>
            }
        </tbody>
    </table>



    @*<br />
    Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount)
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page = page }))
    </div>*@
    @*@Html.PagedListPager(Model, page => Url.Action("Search", new { page, Search = Request.QueryString["keyword"] }))*@

    @*<ul class="pagination">
            @{
                int numberPage = ViewBag.numberPage;
                int pageCurrent = ViewBag.pageCurrent;
                for (int i = 1; i <= numberPage; i++)
                {
                    if (i == pageCurrent)
                    {
                        <li class="active"><a href="?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@i">@i</a></li>
                    }
                }

            }
        </ul>*@



}


